
.card-area {
  width: 480px;
  height: 480px;
  margin: auto;
}

.card-container {
  position: relative;
  float: left;
  width: 100px;
  height:100px;
  margin: 10px;
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  background: purple;
  text-align: center;
}

.layer {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 0;
  right: 0;
  background: skyblue;
  border: 5px solid lightblue;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
